form {
    margin-bottom: 24px;
    button {
      margin-top: 16px !important;
    }
  }
  
  p {
    font-size: 0.8em;
    color: #283593;
  }
  
  ion-label {
    margin-left: 8px;
  }
  
  ion-input {
    padding: 8px;
  }
  
  .invalid {
    border-bottom: 1px solid #ff6153;
  }
  
  .error-message {
    min-height: 2.2rem;
    ion-label {
      margin: 4px 0;
      font-size: 80%;
      color: #ff6153;
    }
    .item-inner {
      border-bottom: 0 !important;
    }
  }