<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Habit Creation Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary">Habit Name</ion-label>
    <ion-input text-right [(ngModel)]="habitName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" [(ngModel)]="date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Did It?</ion-label>
    <ion-select placeholder="Did the habit?" [(ngModel)]="didIt">
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button placeholder="Enter habit name" [disabled]="!habitName || !date || !didIt" (click)="addHabit()">
    Add Habbit</ion-button>

  <br>
  <br>
  <br>
  <ion-item>
      <ion-label>Select Habit</ion-label>
      <ion-select placeholder="Select habit to remove" [(ngModel)]="habitName">
        <li *ngFor="let habit of habitList">
          <ion-select-option value={{habit}}>{{habit}}</ion-select-option>
        </li>
      </ion-select>
    </ion-item>
    <ion-button placeholder="Enter habit name" [disabled]="!habitName" (click)="removeHabit(habitName)">
      Remove Habbit :'(</ion-button>

</ion-content>