<ion-header>
  <ion-toolbar>
    <ion-title>Tracked Habits</ion-title>
    <ion-buttons slot="end">

      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>

      <ion-button routerLink="/habit-create">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>

      <ion-button routerLink="/modify-day">
        <ion-icon slot="icon-only" name="time"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <ion-list>
      <li *ngFor="let habit of habitCountList; let i = index">
        <ion-item>
          <ion-title>
            {{this.habitCountList[i].name}}
          </ion-title>
          <ion-label>
      
            Days tracked: {{this.habitCountList[i].days}}
            <br>
            Success rate: %{{this.habitCountList[i].yesDays/this.habitCountList[i].days}}
          </ion-label>
        </ion-item>
      </li>
    </ion-list>
  </div>
</ion-content>